.CommissionerMessage {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dbe2ef40;
    padding: 40px 0;
}
.commissionerImgAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.commName {
    font-size: 1.5rem;
    font-weight: 600;
    color: #112d4e;
    margin: 0;
    margin-top: 10px;
}
.commName span {
    font-weight: 400;
    color: rgb(221, 93, 46);
}
.commRole {
    font-size: 1.2rem;
    color: #3f72af;
    margin-top: 5px;
    margin-bottom: 20px;
}
.commImg {
    aspect-ratio: 1/1;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #dbe2ef;
}
.comm-message {
    width: 35%;
    padding: 20px;
    border-radius: 10px;
    /* font-style: italic; Removed as it might not apply to all new elements */
    color: #112d4e; /* Set a default text color */
}

.comm-message h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #3f72af; /* A distinct color for headings */
    margin-top: 15px;
    margin-bottom: 8px;
}

.comm-message h2:first-of-type {
    margin-top: 0; /* No top margin for the first heading */
}

.comm-message p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.comm-message ul {
    list-style: disc; /* Use disc for list items */
    padding-left: 20px; /* Indent list items */
    margin-top: 10px;
    margin-bottom: 15px;
}

.comm-message li {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 8px;
}

.comm-message svg {
    width: 60px;
    color: #3f72af;
    margin-top: 20px; /* Add some space above the SVG */
    display: block; /* Ensure SVG is on its own line */
    margin-left: auto; /* Center the SVG */
    margin-right: auto; /* Center the SVG */
}

@media (max-width: 768px) {
    .CommissionerMessage {
        flex-direction: column;
        padding: 20px 0;
    }
    .comm-message {
        width: 80%;
        padding: 20px;
    }
    .commImg {
        width: 150px;
        height: 150px;
    }
    .commName {
        font-size: 1.2rem;
    }
    .commRole {
        font-size: 1rem;
    }
    /* Adjust font sizes for smaller screens */
    .comm-message h2 {
        font-size: 1.2rem;
    }
    .comm-message p,
    .comm-message li {
        font-size: 1rem;
    }
}

.comm-message-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
    font-size: 1.2rem;
    color: #3f72af;
    font-style: italic;
}
