/* EventsPage.css */
.events-page-container {
    padding: 0;
    background-color: #f4f7fc;
}

.event-category-section {
    padding: 3rem 1rem;
    /* Remove margin-bottom to have sections touch */
}

.event-category-title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #112d4e;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
}

/* Specific Section Styles */

.sports-events {
    background-color: #f9f7f7;

}

.academic-events {
    background-color: #dbe2ef20;

}

.co-curricular-events {
    background-color: #f9f7f7;

}

.other-events {
    background-color: #dbe2ef20;

}

/* Title color adjustments for different backgrounds */
.sports-events .event-category-title {
    color: #1e3a8a;
}
